<a href="https://colab.research.google.com/github/Prajaktahz/myPracticeBook/blob/main/FBA_Week_02_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
# FBA Computing Session Week 2:

Python Practice

This practical focuses on concepts that will be core to our analytics using python:
1. Booleans, Comparison Operators, Logical Operators
2. If statements
3. Block Indentation
4. Lists
5. For loops

## Booleans

In [1]:
x = True
y = False

**<font color=green><font size=5>&rarr;</font> Check the types of the variables x and y**

In [2]:
# Your code here
print(type(x))
# Your code here
print(type(y))

<class 'bool'>
<class 'bool'>

## Comparison Operators

It is often extremely useful in analytics to compare two business variables. Let's define two variables **a** and **b**, you should remember from last week that they have different data types, respectively integer and float.

In [3]:
a = 3
b = 3.0

**<font color=green><font size=5>&rarr;</font> Experiment the different comparison operators between variables a and b**

In [4]:
# Your code here
a == b

True

Comparison operators also work for strings and are **case sensitive**

In [5]:
print('hello' == 'Hello')
print('dog' != 'cat')

False
True

You can also use comparison operators between a variable and a value.

In [6]:
my_age = 29
my_age >= 10

True

Let's now define a couple of variables:

In [7]:
x_int = 3
x_float = 3.0
x_string = '3'

**<font color=green><font size=5>&rarr;</font> As you can see, we have defined the 'same' value under different types. Try to cast the variables to different types and experiment the effects on the comparison**

In [8]:
# Your code here
str(x_int) == x_string

True

## Logical operators

**<font color=green><font size=5>&rarr;</font> Below are a set of conditions, ultimately resulting in a Boolean output. Try to add some parenthesis and check how it affects the Boolean value returned**

In [9]:
9 % 3 == 0 or 7 + 3 >= 10 and 'this text' == 'This text'

True

In [ ]:
# Your code here

In [ ]:
# Your code here

## If statements


The reason we learn comparisons and logical operators in our scripting, is often because we use them in **if** statements (often called conditionals). These will allow our scripts to take different routes and actions depending on the value of certain business variables.

Here is an example of an ***if***, ***elif***, ***else*** statement.

**<font color=green><font size=5>&rarr;</font> Change the value of the variable to see how the different conditions are met.**

In [10]:
age = 29
if age < 10:
    print('You are under 10 years old')
elif age > 30:
    print('You are over 30 years old')
else:
    print('You are between 10 and 30 years old')

You are between 10 and 30 years old

**<font color=green><font size=5>&rarr;</font> Guess the ouput of this code! Why is that?**

In [11]:
age = 29
if age > 10:
    print('You are over 10 years old')
if age > 20:
    print('You are over 20 years old')

You are over 10 years old
You are over 20 years old

**<font color=green><font size=5>&rarr;</font> Write a program that defines a variable temperature and tells you how to dress when it is under 10 degrees, between 10 and 30 degrees, and over 30 degrees. Write it two ways, once with the use of a logical operator and once without.**

In [13]:
# Your code here
temperature = 15
if temperature < 10 :
  print("Winter cloths")
elif temperature >= 10 and temperature <= 30:
  print('Spring cloths')
else:
  print('Summer cloths')

Spring cloths

In [22]:
# Your code here
temp = 31
if temp < 10:
  print("winter")
elif temp > 30:
  print('Summer')
else:
  print('Spring')

Summer

## Block indentation

Remember that when you can define blocks of code by using the correct indentation. You will need it in the rest of this tutorial.

## Loops

Loops are the final key part of our basic scripting armoury. By combining variable, if statements and loops, we will be able to do all our analytics problems (although we may use other people's code 'libraries' to make life simpler for us too). Let's see if you can give it a go!

**<font color=green><font size=5>&rarr;</font> Write a while loop that prints the numbers from 0 to 20**

In [23]:
# Your code here
i=0
while(i<21):
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**<font color=green><font size=5>&rarr;</font> Write a while loop that displays only the even numbers between 0 and 20**

In [34]:
# Your code here
i = 0
while(i < 21):
  if(i%2 == 0):
    print(i)
  i +=1

0
2
4
6
8
10
12
14
16
18
20

**<font color=green><font size=5>&rarr;</font> Do the same using a for loop and the function range()**

In [32]:
# Your code here
for i in range(0, 21, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

**<font color=green><font size=5>&rarr;</font> Here is an example of a slightly more complex while loop, try to understand the code and imagine what it will do. Once you have your idea, run the code and check that it behaves as expected!**

In [35]:
name = ''
while name != 'your name':
    print('Please type your name:')
    name = input()
print('Thank you!')

Please type your name:
Raju
Please type your name:
your name
Thank you!

**<font color=green><font size=5>&rarr;</font> Copy your code from the previous question and modify it slightly to add a counter that tells you how many tries you have had** e.g: <br/>
'This is your try number 1, Please type your name'<br/>
'This is your try number 2, Please type your name'

In [ ]:
# Your code here

**<font color=green><font size=5>&rarr;</font> Copy your code from the previous question and add the functionnality to get a 'free' try if you type the word 'Joker'!**

In [ ]:
# Your code here

**<font color=green><font size=5>&rarr;</font> Copy your code from the previous question and add the functionnality to exit the loop if you type 'I give up!'**

In [ ]:
# Your code here

## Lists

We will, in business problems, always be storing data - in our scripting language, python, lists are the data structure we will often use to do this! Below is a reminder of how you create a new list and assign it to a variable.

In [ ]:
example_list = [2, 34, 27, -8]

**<font color=green><font size=5>&rarr;</font> Create a new list containing the days of the week and store it in a variable.**

In [ ]:
# Your code here

## For loops

**<font color=green><font size=5>&rarr;</font> Using your newly created list, use a loop to display the different days of the week.**

In [ ]:
# Your code here

<hr/>

## First Business example - Back to ice creams !

Let's now go back to our ice cream business and see how we could have made our lives a bit simpler last week if we had known about lists and loops!

Here is a reminder of the sales of our business:

|-| January | February | March | April | May | June | July | August | September | October | November | December
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2020|£1000|£1100|£1200|£1300|£1400|£1500|£1500|£1400|£1300|£1200|£1100|£1000|
|2021|£1100|£1200|£1300|£1400|£1500|£1600|£1600|£1500|£1400|£1300|£1200|£1100|

### Revenue 2020

**<font color=green><font size=5>&rarr;</font> Create a list that contains the montly sales for year 2020**

In [ ]:
# Your code here

**<font color=green><font size=5>&rarr;</font> Using a for loop and your list, compute the total revenue for 2020**

In [ ]:
# Your code here

### Revenue 2021

This time, our ice cream business provided you the list of sales for 2021 which is great, it will save you some typing. Be aware, however, that the tech guy of our ice cream business may have not made the most sensible choices (and this is not made up for this tutorial, this is what you will regurlarly deal with as a data scientist!).

In [ ]:
sales_2021 = ['1100','1200','1300','1400','1500','1600','1600','1500','1400','1300','1200','1100']

**<font color=green><font size=5>&rarr;</font> Using the provided list, compute the total revenue for 2021**

In [ ]:
# Your code here

## Average monthly sale 2021

**<font color=green><font size=5>&rarr;</font> Compute the average monthly sale for year 2021**

In [ ]:
# Your code here

### Under performing months for 2022

**<font color=green><font size=5>&rarr;</font> This time, our business has also provided you the monthly sales for 2022 and is interested to see, for each month, whether it has performed better or worse than the average monthly sale for 2021.**

In [ ]:
sales_2022 = [500,1600,1700,1800,1900,500,500,500,1800,1700,1600,500]

In [ ]:
# Your code here

<hr/>

# Market Trading

To finish off, let's go back to the Market Trading example you did in handout 3a. If you remember, you had data collected by a market trader who records the sales of two products over a 6 month period:

|-|Month 1|Month 2|Month 3|Month 4|Month 5|Month 6|
|-|-|-|-|-|-|-|
|Sunscreen|5|10|20|25|30|30|
|Umbrellas|18|12|8|8|2|0|

And were asked to compute the mean and variance for each product so let's do the same with our newly acquired Python knowledge!

**<font color=green><font size=5>&rarr;</font> Create two lists to store your data**

In [ ]:
# Your code here

**<font color=green><font size=5>&rarr;</font> Compute the mean for each product**

In [ ]:
# Mean sunscreen

In [ ]:
# Mean umbrellas

**<font color=green><font size=5>&rarr;</font> Compute the population variance $\sigma^2$ for each product**

In [ ]:
# For loop to compute sunscreen variance

In [ ]:
# For loop to compute umbrella variance