![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
![alt text](http://www.cs.nott.ac.uk/~pszgss/teaching/nlab.png)
# FBA Computing Session Week 1: Intro

In this session we will aim to get comfortable with Google Colaboratory,
introducing Jupyter notebooks and show how it is used for Python programming. We won’t be using any program files in this tutorial, but just testing out/getting a feel for Python commands in its “interactive mode”.

## What is Programming:

Television shows and films often show programmers furiously typing cryptic streams of 1s and 0s on glowing screens, but modern programming isn’t that mysterious. Programming is simply the act of entering instructions for the computer to perform. These instructions might crunch some numbers, modify text, look up information in files, or communicate with other computers over the Internet.

## What do we need for it:

1. A language that defines a set of words and rules that we are going to learn this semester to send instructions to the computer [**Python**]

2. A development environment, to type in our language instructions, execute them and look at the results [**Jupyter Notebooks**]

3. A language interpreter, that converts our written Python code into ‘machine code’ and vice versa.  [**Python Interpreter**]


Jupyter Notebooks are simply a convenient graphical interface to write and execute Python code. However, there are a lot of other development environments such as  IDLE - “the Python Integrated Development Environment”, ECLIPSE, VIM, emacs... and even online versions such as the one at repl.it (please feel free to try any of these - have a look at https://repl.it for example).

This year for Foundational Business Analytics we will be using Google Colaboratory. Colaboratory is based on Jupyter open source project. Colaboratory allows you to use and share Jupyter notebooks with others without having to download, install, or run anything on your own computer (or tablet) other than a browser.

## Python interactive mode

Python has two basic modes: script and interactive.
1. The script mode is the mode where a script (i.e. a succession of commands) is run in the Python interpreter until it finishes and outputs results (on the screen, in a file, on a plot, ...).
2. The interactive mode gives immediate feedback for each statement which is a good way to play around and try variations on syntax.

## Like a calculator

Typing mathematical operations in the Python interactive mode is very much like using a calculator so let's experiment with that.

Type a mathematical operation of your choice in the box below and execute it by pressing  or the 'Run' button at the top of the screen or using the 'Shift' + 'Enter' keyboard shortcut.

You should see the result of your operation on the next line (or 'Out [..]' line in Jupyter).

In [ ]:
1+1

Like a calculator (thankfully!) Python knows all the common mathematical operations like:
- +
- -
- *
- /

Modify the operation you have initially typed to use the different operators and rerun the code to get an updated result.

The order of operations that you know for mathematical expressions (e.g. a multiplication is granted a higher precedence than addition) is also applicable in Python. The language has a collection of rules that reflect conventions about which procedures to perform first in order to evaluate a given expression.

Experiment multiple operations and the effect of parenthesis to prioritise certain part of an expression.

In [1]:
(3+2)*10

50

## Working with text

Using Python as a calculator is a bit limited so let's now look at text. By convention in Python (and most programming languages), text has to be put in between quotations. If you don't, Python will interpret it as a *variable*, something that we will learn next week.

Familiarise yourself in the box below on how to create some text in Python to output your first name and last name.

In [2]:
"First name"

'First name'

In [3]:
"Last name"

'Last name'

It may be less intuitive than for numbers but Python also defines a set of operators to work with text. If you use, the operator '+' between two texts (strings), Python will add (also refered to as 'concatenate') the texts to each other.

Using that principle, print your first name AND last name in one line.

In [4]:
"First name " + "Last name"

'First name Last name'

In [5]:
"He" + "llo"

'Hello'

## Communicating using 'print'

So far, every command or instruction we have typed has given direct feedback in the output field. As we progress through the capabilities of Python and write more complex code, this will not always be the case otherwise the output would become unreadable! Imagine a code that does a 1000 operations before giving you the final result you are interested in, you don't necessarily want to see all the intermediary steps.

Thankfully, there is way for you to print on the screen something that you specifically want to display by using the *print* function. We will learn in a few lessons what a function is more precisely but for now, familiarise yourself with it by printing some numbers, mathematical operations and text.

In [6]:
print("My first name")

My first name

## Generate variables

If we want to reuse our name more than once within the program, we can also create variables

In [7]:
NAME = "My first name"

print(NAME)

My first name

# Python Practice

This practical focuses on the concepts of:
1. Mathematical Operators
2. Strings
3. Data types & Casting
4. Variables
5. Core functions
6. Introduction to if statements

<hr/>
To get started, let's refresh our minds with simple addition.

In [8]:
# Press 'Run' or 'Shift'+'Enter' to run the code and visualise the output
2+2

4

Let's now practice our operators and their prevalence by computing the value of the following fraction:

$$\frac{(27+3)*10}{2^4-1}$$

In [9]:
# Your code here
((27+3)*10)/(2**4 - 1)

20.0

## Integer

Create a variable **a** and assign it the value of 27.

In [10]:
# Your code here
a= 27

Check the type of the variable **a**.

In [11]:
# Your code here
type(a)

int

## Float
Create a variable **b** and assign it the value of 3.0

In [12]:
# Your code here
b = 3.0

Check the type of the variable **b**

In [13]:
# Your code here
type(b)

float

## String
Create a variable **c** and assign it the value of 'three'

In [15]:
# Your code here
c = 'three'

Check the type of the variable **c**

In [16]:
# Your code here
type(c)

str

## Casting to a different data type

Using the casting functions **str(), int(), float()** try to cast your variables **a**, **b** and **c** to different data types, experiment what works and what doesn't.

In [18]:
a = '34'
cast_a = int(a)
type(a)
type(cast_a)

int

## Towards scripting

You can write multiple instructions in the same 'code' cell to build small blocks of logics. Here is an example:

In [19]:
a = 2
b = 1
c = a + b
print(c)

3

Following the same principle, do the following actions all in the same 'code' cell:
- Create a variable x and assign it the value 27
- Create a variable y and assign it the value 3
- Create a variable n and assign it the value 4
- Create a variable z and assign it the value of:
$$z=\frac{(x+y)*10}{2^n-1}$$
- Print the value of z

In [21]:
# Your code here
x = 27
y = 3
n = 4
z = ((x +y)* 10)/(2**n -1)
print(z)

20.0

You can now change the value of any of our parameters and compute the new value of our variable z.

## Capturing the user input

Capture the user's input using the function **input()** and store the value in a variable.

In [22]:
# Your code here
a = input('Enter name:')

Enter name:Raj

Print on the screen the value that the user has entered and check its type.

In [23]:
# Your code here
print(type(a))
print(a)

<class 'str'>
Raj

# Our first program

Let's write a program that ask the user to enter its name, then its age and finally display the sentence:

***Your name is [...], and you are [...] years old***

(replace the [...] by the values entered by the user)

In [29]:
# Your code here
name = input('Enter Name:')
age = int(input('Enter age:'))
print('Your name is ' + name + ' , and you are ' + str(age) + ' years old')

Enter Name:Prajakta
Enter age:24
Your name is Prajakta , and you are 24 years old

Let's now slightly modify our program so that it now displays how old you will be next year (the program will still ask the **current** age of the user):

***Your name is [...] and you will be [...] next year***

In [31]:
# Your code here
print('Your name is ' + name + ' , and you will be ' + str(age + 1) + ' years old next year')

Your name is Prajakta , and you will be 25 years old next year

## N/LAB has got an ice cream van

At some point N/LAB was looking to invest in a business and decided to take over an ice cream van business.

Before the take over, the van was selling ice creams in Nottingham City Centre and reported the following sales:

|| January | February | March | April | May | June | July | August | September | October | November | December
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2020|£1000|£1100|£1200|£1300|£1400|£1500|£1500|£1400|£1300|£1200|£1100|£1000|
|2021|£1100|£1200|£1300|£1400|£1500|£1600|£1600|£1500|£1400|£1300|£1200|£1100|

Make good use of variables, it will avoid you typing repeatedly the same numbers !

**<font color=green><font size=5>&rarr;</font> What was the total revenue for year 2020 ?</font>**

In [36]:
# Your code here
year_2020 = [1000,1100,1200,1300,1400,1500,1500,1400,1300,1200,1100,1000]
sales_2020 = sum(year_2020)
print('Revenue for 2020 is:', sales_2020)

Revenue for 2020 is: 15000

**<font color=green><font size=5>&rarr;</font> What was the total revenue for year 2021? (pay attention to the symmetry of sales, there is a tip to reduce the amount of typing!)</font>**

In [34]:
# Your code here
year_2021 = [1100,1200,1300,1400,1500,1600,1600,1500,1400,1300,1200,1100]
sales_2021 = sum(year_2021)
print('Revenue for 2021 is:',sales_2021 )

Revenue for 2021 is: 16200

**<font color=green><font size=5>&rarr;</font>  What was the average monthly income for year 2021? (reuse variables!)</font>**

In [35]:
# Your code here
print('Average monthly income:', sales_2021/len(year_2021))

Average monthly income: 1350.0

**<font color=green><font size=5>&rarr;</font> What was profit increase (%) of the business between 2020 and 2021?</font>**

In [38]:
# Your code here
profit_increase = ((sales_2021 - sales_2020) / sales_2020) * 100
print(profit_increase)

8.0

**<font color=green><font size=5>&rarr;</font> It is expected that the business will continue to grow at the same pace, what total revenue should N/LAB expect for year 2022?</font>**

In [42]:
# Your code here
expected_sales_2022 = (sales_2021 * (8/100)) + sales_2021
print(expected_sales_2022)

17496.0

<hr/>

### The harsh reality
At the end of 2022, the N/LAB ice cream van reported the following sales for the year, but it was selling from outside the N/LAB:

|| January | February | March | April | May | June | July | August | September | October | November | December
|-|-|-|-|-|-|-|-|-|-|-|-|-|
|2022|£500|£1600|£1700|£1800|£1900|£500|£500|£500|£1800|£1700|£1600|£500|

**<font color=green><font size=5>&rarr;</font> What was the actual revenue for 2022?</font>**

In [56]:
# Your code here
year_2022 = [500,1600,1700,1800,1900,500,500,500,1800,1700,1600,500]
sales_2022 = sum(year_2022)
print(sales_2022)

14600

**<font color=green><font size=5>&rarr;</font> Using a if statement, compare the actual revenue for 2022 to the expected one and print whether 'N/LAB has over performed' or 'N/LAB has under performed'</font>**

In [44]:
# Your code here
if(expected_sales_2022 < sales_2022):
  print('overperformed')
else:
  print('underperformed')

underperformed

**<font color=green><font size=5>&rarr;</font> How much of a loss (in %) does this actual revenue represent compared to the expected revenue?</font>**

In [49]:
# Your code here
loss_percent = ((sales_2022 - expected_sales_2022)/expected_sales_2022) *100
print(str(round(loss_percent,2))+ '%')

-16.55%

**<font color=green><font size=5>&rarr;</font> In order to fill that deficit, N/LAB is considering alternating between the two locations (City centre and outside N/LAB), what optimal schedule do you recommend us?</font>**

By the way this is a 'markdown' cell were you can type text to make notes for yourself or in this case answer to the question - double click on this text to edit it

**<font color=green><font size=5>&rarr;</font> How much would have N/LAB made in 2022 if they followed your advice?</font>**

In [ ]:
# Your code here

## Challenge

 Let's first consider the 7 months where the ice cream van is performing better outside N/LAB compared to the city centre and keep that successfull side of the business as it is. We now want to find what minimum monthly sale for the 5 'under-performing' months we need to make to reach our expected revenue for 2022.
    
**<font color=green><font size=5>&rarr;</font> Write a program that ask the user a monthly sale value for the 5 'under-performing' months and print back whether 'N/LAB would be in profit!' or 'N/LAB would still be in deficit!' with that value</font>**

In [58]:
# Your code here
good_months = sales_2022 - 5*500
rest_sale = 0
for i in range(5):
  sale = int(input('Enter sale for month:'))
  rest_sale += sale

print(good_months)
total_new_sale = rest_sale + good_months
print('total sale:',(total_new_sale))

Enter sale for month:100
Enter sale for month:700
Enter sale for month:600
Enter sale for month:200
Enter sale for month:900
12100
total sale: 14600

In [59]:
# Your code here
if(total_new_sale > expected_sales_2022):
  print('profit')
else:
  print('still in deficit')

still in deficit